.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    padding: 5px 20px 15px 20px;
}

.btgroup {
    position: center;
}
