<div class="container">
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="basicForm">
        <fieldset>
            <div class="row">
                <!--FIRST ROW OF CONTENT-->
                <div class="col-50">
                    <!-- NAME FIELD -->
                    <div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && !basicForm.get('name').valid }">
                        <label class="control-label"
                               for="nameId">
                            Employee Name
                        </label>
                        <input class="form-control"
                               id="nameId"
                               type="text"
                               placeholder="Full Name (required)"
                               formControlName="name" />
                        <span class="help-block" *ngIf="(basicForm.get('name')?.touched || basicForm.get('name')?.dirty) && basicForm.get('name').errors">
                            <span *ngIf="basicForm.get('name').errors.required">
                                Please enter your full name. <!--Error messages-->
                            </span>
                            <span *ngIf="basicForm.get('name').errors.minlength">
                                Name must be longer than 3 characters. <!--Error messages-->
                            </span>
                        </span>
                    </div>
                    <!-- TITLE FIELD -->
                    <div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('title')?.touched || basicForm.get('title')?.dirty) && !basicForm.get('title').valid }">
                        <label class="control-label"
                               for="titleId">
                            Title
                        </label>

                        <input class="form-control"
                               id="titleId"
                               type="text"
                               placeholder="Title (required)"
                               formControlName="title" />
                        <span class="help-block" *ngIf="(basicForm.get('title')?.touched || basicForm.get('title')?.dirty) && basicForm.get('title').errors">
                            <span *ngIf="basicForm.get('title').errors.required">
                                Please enter your title.
                            </span>
                            <span *ngIf="basicForm.get('title').errors.minlength">
                                Title must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                    <!--DEPARTMENT FIELD -->
                    <!--<div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('department')?.touched || basicForm.get('department')?.dirty) && !basicForm.get('department').valid }">
                        <label class="control-label"
                               for="departmentId">
                            Department
                        </label>

                        <input class="form-control"
                               id="departmentId"
                               type="text"
                               placeholder="Department (required)"
                               formControlName="department" />
                        <span class="help-block" *ngIf="(basicForm.get('department')?.touched || basicForm.get('department')?.dirty) && basicForm.get('department').errors">
                            <span *ngIf="basicForm.get('department').errors.required">
                                Please enter your department.
                            </span>
                            <span *ngIf="basicForm.get('department').errors.minlength">
                                Department must be longer than 3 characters.
                            </span>
                        </span>
                    </div>-->
                    <label for="adr"><i class="fa fa-address-card-o"></i> Department:</label>
                    <select class="form-control" id="sel1">
                        <option></option>
                        <option>Human Resources</option>
                        <option>Library</option>
                        <option>Information Technology</option>
                    </select>
                    <br>
                    <label for="city"><i class="fa fa-institution"></i> Review Type:</label>
                    <div class="row">
                        <div class="col-50">
                            <label for="state">
                                Planning
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-50">
                            <label for="zip">
                                Annual
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <label for="city"><i class="fa fa-institution"></i> Supervisor or Above? </label>
                    <div class="row">
                        <div class="col-50">
                            <label for="state">
                                Yes
                                <input type="radio" name="radio2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="col-50">
                            <label for="zip">
                                No
                                <input type="radio" name="radio2">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <!--REVIEW TYPE FIELD -->
                    <!--<div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('reviewType')?.touched || basicForm.get('reviewType')?.dirty) && !basicForm.get('reviewType').valid }">
                        <label class="control-label"
                               for="reviewTypeId">
                            Review Type
                        </label>

                        <input class="form-control"
                               id="reviewTypeId"
                               type="text"
                               placeholder="Review Type (required)"
                               formControlName="reviewType" />
                        <span class="help-block" *ngIf="(basicForm.get('reviewType')?.touched || basicForm.get('reviewType')?.dirty) && basicForm.get('reviewType').errors">
                            <span *ngIf="basicForm.get('reviewType').errors.required">
                                Please enter the review type.
                            </span>
                            <span *ngIf="basicForm.get('reviewType').errors.minlength">
                                Review type must be longer than 3 characters.
                            </span>
                        </span>
                    </div>-->
                    <br>
                </div>
                <!--SECOND ROW OF CONTENT-->
                <div class="col-50">
                    <!-- SAP # FIELD -->
                    <div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('sapNum')?.touched || basicForm.get('sapNum')?.dirty) && !basicForm.get('sapNum').valid }">
                        <label class="control-label"
                               for="sapNumId">
                            SAP #
                        </label>
                        <input class="form-control"
                               id="sapNumId"
                               type="text"
                               placeholder="SAP # (required)"
                               formControlName="sapNum" />
                        <span class="help-block" *ngIf="(basicForm.get('sapNum')?.touched || basicForm.get('sapNum')?.dirty) && basicForm.get('sapNum').errors">
                            <span *ngIf="basicForm.get('sapNum').errors.required">
                                Please enter your SAP #.
                            </span>
                            <span *ngIf="basicForm.get('sapNum').errors.minlength">
                                SAP # must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                    <!--REPORTING PERIOD FIELD -->
                    <div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('period')?.touched || basicForm.get('period')?.dirty) && !basicForm.get('period').valid }">
                        <label class="control-label"
                               for="periodId">
                            Reporting Period
                        </label>
                        <input class="form-control"
                               id="periodId"
                               type="text"
                               placeholder="Reporting Period (required)"
                               formControlName="period" />
                        <span class="help-block" *ngIf="(basicForm.get('period')?.touched || basicForm.get('period')?.dirty) && basicForm.get('period').errors">
                            <span *ngIf="basicForm.get('period').errors.required">
                                Please enter the reporting period.
                            </span>
                            <span *ngIf="basicForm.get('period').errors.minlength">
                                Reporting period must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                    <!--DIVIOSION FIELD -->
                    <div class="form-group"
                         [ngClass]="{'has-error': (basicForm.get('division')?.touched || basicForm.get('division')?.dirty) && !basicForm.get('division').valid }">
                        <label class="control-label"
                               for="divisionId">
                            Division
                        </label>
                        <input class="form-control"
                               id="divisionId"
                               type="text"
                               placeholder="Division (required)"
                               formControlName="division" />
                        <span class="help-block" *ngIf="(basicForm.get('division')?.touched || basicForm.get('division')?.dirty) && basicForm.get('division').errors">
                            <span *ngIf="basicForm.get('division').errors.required">
                                Please enter your division.
                            </span>
                            <span *ngIf="basicForm.get('division').errors.minlength">
                                Division must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <!--BUTTON GROUP-->
                <div class="container">
                    <div class="form-group btgroup">
                        <button class="btn btn-primary"
                                type="submit"
                                [disabled]="!basicForm.valid">
                            Save
                        </button>
                        <button class="btn btn-default"
                                type="button"
                                (click)="populateTestData()">
                            Test Data
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>