<table>
    <tr>
        <th>Name</th>
        <th>SAP #</th>
        <th>Form Type</th>
        <th>Date Modified</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>Akshit Lashkari</td>
        <td>165781</td>
        <td>Provision</td>
        <td>7/11/2018</td>
        <td>Waiting on Reviewing Officer</td>
    </tr>
    <tr>
        <td>Akshit Lashkari</td>
        <td>165781</td>
        <td>Step Pay Plan</td>
        <td>7/11/2018</td>
        <td>Approved</td>
    </tr>
    <tr>
        <td>Akshit Lashkari</td>
        <td>165781</td>
        <td>Executive</td>
        <td>7/11/2018</td>
        <td>Denied</td>
    </tr>
</table>
<div id="button"><a href="formView">Forms</a></div>