@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


#fullPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}